.header {
  background-color: var(--color-dark-blue);
  @include border-style(null, 15px);

  &__wrapper {
    @include border-style(null, 15px);

    background-color: var(--color-blue);
    padding: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 16px;

    @include media-up(xl) {
      padding-bottom: 40px;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    color: var(--color-primary);

    @include font-heading-1;
  }

  &__field {
    @include font-body;

    color: var(--color-darker-blue);
  }

  &__avatar {
    @include width-height(80);
    @include border-style(--color-primary, 50%, 2);
  }

  &__filters {}
}
