.filters {
  padding: 10px;
  &__list {
    display: flex;
    justify-content: space-between;

    @include media-up(xl) {
      flex-direction: column;
    }
  }

  &__item {
    @include flex-center;

    width: 100%;

    &:hover,
    &:focus {
      .filters__button {
        color: var(--color-primary);
      }
    }
  }

  &__item--active {
    .filters__button {
      color: var(--color-primary);
    }
  }

  &__button {
    padding: 10px;
    text-transform: capitalize;
    transition: 0.3s color ease-in-out;

    color: var(--color-desaturated-blue);
  }
}
